<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
    <span v-if='isUser'>
        <label>用户账号</label>
        <input placeholder="请输入用户账号" type="text" v-model="username">
    </span>
  <span v-else>
        <label>用户邮箱</label>
        <input placeholder="请输入用户邮箱" type="email" v-model="email">
    </span>
  <span v-if="isUser">
        <label>用户密码</label>
        <input placeholder="请输入用户密码" type="text" v-model="password">
    </span>
  <span v-else>
        <label>邮箱密码</label>
        <input placeholder="请输入邮箱密码" type="text" v-model="emailpassword">
    </span>
  <button v-on:click="isUser = !isUser">切换类型</button>
  <button v-on:click="submit">登录</button>
</div>
<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      isUser: true,
      username: '',
      password: '',
      email: '',
      emailpassword: ''
    },
    methods: {
      submit(parmas) {
        console.log(parmas);
      }
    }
  })
</script>
</body>
</html>